.expge1c {
  position: absolute;
  top: 21%;
  left: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.wwfxs {
  position: absolute;
  top: 24.5%;
  left: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.expge2c {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.expge3c {
  position: absolute;
  top: 27%;
  left: 33%;
  font-size: 14px;
  width: 620px;
  text-align: justify;
  text-justify: inter-word;
}

.expge4c {
  position: absolute;
  top: 28.6%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge5cs {
  position: absolute;
  top: 28.3%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge6cs {
  position: absolute;
  top: 33.6%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge7c {
  position: absolute;
  top: 43%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge8c {
  position: absolute;
  top: 46.5%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge9csr{
 position: absolute;
  top: 39.3%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge9cs {
  position: absolute;
  top: 43.3%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge10cs {
  position: absolute;
  top: 59%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge11cs {
  position: absolute;
  top: 61.5%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge12cs {
  position: absolute;
  top: 64%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge13cs {
  position: absolute;
  top: 66.5%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.gesstampss {
  position: absolute;
  top: 49%;
  left: 10%;
  height: 100px;
}

.eded{
  position: absolute;
  top: 15%;
  color:  rgb(72, 147, 217);
  left: 39%;
}