.job29 {
  position: absolute;
  top: 49.65%;
  left: 9.2%;
  font-size: 11px;
  font-weight: bolder;
}

.job30 {
  position: absolute;
  top: 51.44%;
  left: 9.2%;
  font-size: 11px;
}

.job31 {
  position: absolute;
  top: 53%;
  left: 9.2%;
  font-size: 11px;
}

.job32 {
  position: absolute;
  top: 54.7%;
  left: 9.2%;
  font-size: 11px;
}

.job33 {
  position: absolute;
  top: 56.4%;
  left: 9.2%;
  font-size: 11px;
}

.job34 {
  position: absolute;
  top: 58%;
  left: 9.2%;
  font-size: 11px;
}

.job35 {
  position: absolute;
  top: 59.7%;
  left: 9.2%;
  font-size: 11px;
}

.job36 {
  position: absolute;
  top: 61.25%;
  left: 9.2%;
  font-size: 11px;
}

.job36a {
  position: absolute;
  top: 63.25%;
  left: 9.2%;
  font-size: 11px;
  font-weight: bolder;
}

.job37 {
  position: absolute;
  top: 49.65%;
  left: 39.68%;
  font-size: 11px;
  font-weight: bolder;
}

.job38 {
  position: absolute;
  top: 51.3%;
  right: 50.98%;
  font-size: 12px;
}

.job39 {
  position: absolute;
  top: 52.88%;
  right: 50.98%;
  font-size: 12px;
}

.job40 {
  position: absolute;
  top: 54.49%;
  right: 50.98%;
  font-size: 12px;
}

.job41 {
  position: absolute;
  top: 56.2%;
  right: 50.98%;
  font-size: 12px;
}

.job42 {
  position: absolute;
  top: 57.9%;
  right: 50.98%;
  font-size: 12px;
}

.job43 {
  position: absolute;
  top: 59.6%;
  right: 50.98%;
  font-size: 12px;
}

.job44 {
  position: absolute;
  top: 61.22%;
  right: 50.98%;
  font-size: 12px;
}

.job44a {
  position: absolute;
  top: 63%;
  right: 50.98%;
  font-size: 12px;
  font-weight: bolder;
}

.job45 {
  position: absolute;
  top: 49.65%;
  left: 51%;
  font-size: 11px;
  font-weight: bolder;
}

.job46 {
  position: absolute;
  top: 49.65%;
  left: 82%;
  font-size: 11px;
  font-weight: bolder;
}

.job47 {
  position: absolute;
  top: 51.44%;
  left: 51%;
  font-size: 11px;
}

.job48 {
  position: absolute;
  top: 51.44%;
  font-size: 12px;
  right: 9.38%;
}

.job49 {
  position: absolute;
  top: 63.25%;
  font-size: 11px;
  left: 51%;
  font-weight: bolder;
}

.job50 {
  position: absolute;
  top: 63%;
  font-size: 12px;
  right: 9.38%;
}

.job51 {
  position: absolute;
  top: 64.8%;
  font-size: 11px;
  left: 51%;
  font-weight: bolder;
}

.job52 {
  position: absolute;
  top: 64.6%;
  font-size: 12px;
  right: 9.38%;
  font-weight: bolder;
}

.job53 {
  position: absolute;
  top: 66.8%;
  left: 9.2%;
  font-size: 10px;
}

.job54 {
  position: absolute;
  top: 68.25%;
  left: 9.2%;
  font-size: 10px;
}

.job21 {
  position: absolute;
  top: 40.14%;
  left: 9.2%;
  font-size: 11px;
  font-weight: bolder;
}

.job22 {
  position: absolute;
  top: 40.14%;
  left: 41%;
  font-size: 11px;
  font-weight: bolder;
}

.job23 {
  position: absolute;
  top: 41.8%;
  left: 9.2%;
  font-size: 11px;
}

.job24 {
  position: absolute;
  top: 41.6%;
  left: 42.69%;
  font-size: 12px;
}

.job25 {
  position: absolute;
  top: 43.4%;
  left: 9.2%;
  font-size: 11px;
}

.job26 {
  position: absolute;
  top: 43.15%;
  left: 43.2%;
  font-size: 12px;
}

.job27 {
  position: absolute;
  top: 44.9%;
  left: 9.2%;
  font-size: 11px;
}

.job28 {
  position: absolute;
  top: 44.74%;
  left: 42.8%;
  font-size: 12px;
}

.job1 {
  position: absolute;
  top: 19.3%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job2 {
  position: absolute;
  top: 20.9%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job3 {
  position: absolute;
  top: 22.5%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job4 {
  position: absolute;
  top: 24.2%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job5 {
  position: absolute;
  top: 25.9%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job6 {
  position: absolute;
  top: 27.5%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job7 {
  position: absolute;
  top: 30.5%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job8 {
  position: absolute;
  top: 32%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job9 {
  position: absolute;
  top: 33.5%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job10 {
  position: absolute;
  top: 35%;
  left: 9.2%;
  font-size: 12px;
  font-weight: bolder;
}

.job11 {
  position: absolute;
  top: 19.3%;
  left: 29.2%;
  font-size: 12px;
}

.job12 {
  position: absolute;
  top: 20.9%;
  left: 29.2%;
  font-size: 12px;
}

.job13 {
  position: absolute;
  top: 22.5%;
  left: 29.2%;
  font-size: 12px;
}

.job14 {
  position: absolute;
  top: 24.2%;
  left: 29.2%;
  font-size: 12px;
}

.job15 {
  position: absolute;
  top: 25.9%;
  left: 29.2%;
  font-size: 12px;
}

.job16 {
  position: absolute;
  top: 27.5%;
  left: 29.2%;
  font-size: 12px;
}

.job17 {
  position: absolute;
  top: 30.5%;
  left: 29.2%;
  font-size: 12px;
}

.job18 {
  position: absolute;
  top: 32%;
  left: 29.2%;
  font-size: 12px;
}

.job19 {
  position: absolute;
  top: 33.5%;
  left: 29.2%;
  font-size: 12px;
}

.job20 {
  position: absolute;
  top: 35%;
  left: 29.2%;
  font-size: 12px;
}

.job21j {
  position: absolute;
  top: 7.8%;
  left: 43%;
  font-size: 12px;
  font-weight: bold;
}

.job22j {
  position: absolute;
  top: 9.3%;
  left: 42.5%;
  font-size: 12px;
  font-weight: bold;
}

.job23j {
  position: absolute;
  top: 12.1%;
  left: 47%;
  font-size: 12px;
  font-weight: bold;
}

.job24j {
  position: absolute;
  top: 13.5%;
  left: 10.6%;
  font-size: 12px;
  font-weight: bold;
  width: 550px;
  text-align: center;
}

.job25j {
  position: absolute;
  top: 15.5%;
  left: 10.6%;
  font-size: 16px;
  font-weight: bolder;
  width: 550px;
  text-align: center;
}

.job26j {
  position: absolute;
  top: 89%;
  left: 21.6%;
  font-size: 14px;
  font-weight: bolder;
  color: rgb(105, 104, 104);
}
