.gio1 {
  position: absolute;
  top: 3%;
  left: 7%;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
}

.gio2 {
  position: absolute;
  top: 3%;
  left: 67%;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
}

.gio18 {
  position: absolute;
  top: 10.1%;
  left: 13%;
  text-align: justify;
  text-justify: inter-word;
  width: 615px;
  text-align: left;
  font-size: 13.35px;
}

.gio3 {
  position: absolute;
  top: 3.85%;
  left: 7%;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
}

.gio4 {
  position: absolute;
  top: 4.5%;
  left: 7%;
  text-align: justify;
  text-justify: inter-word;
  width: 615px;
  text-align: left;
  font-size: 13.35px;
}

.gio3a {
  position: absolute;
  top: 5.4%;
  left: 7%;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
}

.gio5 {
  position: absolute;
  top: 5.85%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio6 {
  position: absolute;
  top: 5.85%;
  left: 13%;
  text-align: justify;
  text-justify: inter-word;
  width: 615px;
  text-align: left;
  font-size: 13.35px;
}

.gio7 {
  position: absolute;
  top: 6.4%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio8 {
  position: absolute;
  top: 6.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio9 {
  position: absolute;
  top: 6.9%;
  left: 13%;
  text-align: justify;
  text-justify: inter-word;
  width: 615px;
  text-align: left;
  font-size: 13.35px;
}

.gio10 {
  position: absolute;
  top: 7.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio11 {
  position: absolute;
  top: 7.5%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio12 {
  position: absolute;
  top: 7.85%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio13 {
  position: absolute;
  top: 7.85%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
}

.gio14 {
  position: absolute;
  top: 8.4%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio15 {
  position: absolute;
  top: 8.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio16 {
  position: absolute;
  top: 8.9%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio17 {
  position: absolute;
  top: 10.1%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio19 {
  position: absolute;
  top: 11%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio20 {
  position: absolute;
  top: 11.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio21 {
  position: absolute;
  top: 11.5%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio22 {
  position: absolute;
  top: 12.1%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio23 {
  position: absolute;
  top: 12.1%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio24 {
  position: absolute;
  top: 13.3%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio25 {
  position: absolute;
  top: 13.3%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio26 {
  position: absolute;
  top: 15%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio27 {
  position: absolute;
  top: 15.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio28 {
  position: absolute;
  top: 15.5%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
}

.gio29 {
  position: absolute;
  top: 15.8%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
}

.gio30 {
  position: absolute;
  top: 16.15%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio31 {
  position: absolute;
  top: 16.15%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
}

.gio32 {
  position: absolute;
  top: 23%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio33 {
  position: absolute;
  top: 23.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio34 {
  position: absolute;
  top: 23.5%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio35 {
  position: absolute;
  top: 24.34%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio36 {
  position: absolute;
  top: 24.8%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio37 {
  position: absolute;
  top: 24.8%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
}

.gio38 {
  position: absolute;
  top: 25.4%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio39 {
  position: absolute;
  top: 25.85%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio40 {
  position: absolute;
  top: 25.85%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio41 {
  position: absolute;
  top: 27.3%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio42 {
  position: absolute;
  top: 27.8%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio43 {
  position: absolute;
  top: 27.8%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio44 {
  position: absolute;
  top: 28.45%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio45 {
  position: absolute;
  top: 28.45%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio46 {
  position: absolute;
  top: 29.95%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio47 {
  position: absolute;
  top: 29.95%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio48 {
  position: absolute;
  top: 30.6%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio49 {
  position: absolute;
  top: 30.6%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio50 {
  position: absolute;
  top: 32.1%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio51 {
  position: absolute;
  top: 32.6%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio52 {
  position: absolute;
  top: 32.6%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio53 {
  position: absolute;
  top: 33.56%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio54 {
  position: absolute;
  top: 33.56%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio55 {
  position: absolute;
  top: 34.57%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio56 {
  position: absolute;
  top: 34.57%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio57 {
  position: absolute;
  top: 43%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio58 {
  position: absolute;
  top: 43.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio59 {
  position: absolute;
  top: 43.5%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio60 {
  position: absolute;
  top: 43.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio61 {
  position: absolute;
  top: 43.9%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio62 {
  position: absolute;
  top: 44.55%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio63 {
  position: absolute;
  top: 44.55%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio64 {
  position: absolute;
  top: 45.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio65 {
  position: absolute;
  top: 46.44%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio66 {
  position: absolute;
  top: 46.4%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio67 {
  position: absolute;
  top: 47.2%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio68 {
  position: absolute;
  top: 47.7%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio69 {
  position: absolute;
  top: 47.7%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio70 {
  position: absolute;
  top: 48.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio71 {
  position: absolute;
  top: 49%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio72 {
  position: absolute;
  top: 49%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio73 {
  position: absolute;
  top: 49.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio74 {
  position: absolute;
  top: 49.9%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio75 {
  position: absolute;
  top: 50.8%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio76 {
  position: absolute;
  top: 50.8%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio77 {
  position: absolute;
  top: 51.7%;
  left: 13%;
  text-align: left;
  font-size: 13.35px;
}

.gio78 {
  position: absolute;
  top: 51.7%;
  left: 19%;
  width: 570px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio79 {
  position: absolute;
  top: 52.6%;
  left: 13%;
  text-align: left;
  font-size: 13.35px;
}

.gio80 {
  position: absolute;
  top: 52.6%;
  left: 19%;
  width: 570px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio81 {
  position: absolute;
  top: 53.25%;
  left: 13%;
  text-align: left;
  font-size: 13.35px;
}

.gio82 {
  position: absolute;
  top: 53.25%;
  left: 19%;
  width: 570px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio83 {
  position: absolute;
  top: 54%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio84 {
  position: absolute;
  top: 54.43%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio85 {
  position: absolute;
  top: 54.43%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio86 {
  position: absolute;
  top: 55.6%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio87 {
  position: absolute;
  top: 55.6%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio88 {
  position: absolute;
  top: 56.24%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio89 {
  position: absolute;
  top: 56.24%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio90 {
  position: absolute;
  top: 63%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio91 {
  position: absolute;
  top: 63%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio92 {
  position: absolute;
  top: 64.25%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio93 {
  position: absolute;
  top: 64.25%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio94 {
  position: absolute;
  top: 64.93%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio95 {
  position: absolute;
  top: 64.93%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio96 {
  position: absolute;
  top: 65.9%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio97 {
  position: absolute;
  top: 65.9%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio98 {
  position: absolute;
  top: 67.18%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio99 {
  position: absolute;
  top: 67.18%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio100 {
  position: absolute;
  top: 68.15%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio101 {
  position: absolute;
  top: 68.15%;
  left: 13%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio102 {
  position: absolute;
  top: 69%;
  left: 7%;
  width: 665px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio103 {
  position: absolute;
  top: 70.14%;
  left: 7%;
  width: 675px;
  text-align: left;
  font-size: 13px;
  text-align: justify;
  text-justify: inter-word;
}

.gio104 {
  position: absolute;
  top: 70.74%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio105 {
  position: absolute;
  top: 73.4%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio106 {
  position: absolute;
  top: 73.72%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio107 {
  position: absolute;
  top: 74.03%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio108 {
  position: absolute;
  top: 74.36%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio109 {
  position: absolute;
  top: 74.66%;
  right: 11%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio110 {
  position: absolute;
  top: 75%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio111 {
  position: absolute;
  top: 75.3%;
  left: 17.55%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio111a {
  position: absolute;
  top: 75.58%;
  left: 7%;
  width: 620px;
  text-align: left;
  font-size: 13.35px;
  text-align: justify;
  text-justify: inter-word;
}

.gio112 {
  position: absolute;
  top: 76.15%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio113 {
  position: absolute;
  top: 76.5%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio113a {
  position: absolute;
  top: 77%;
  width: 180px;
  height: 1px;
  background-color: black;
  left: 16%;
}

.gio114 {
  position: absolute;
  top: 76.85%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio115 {
  position: absolute;
  top: 83%;
  left: 7%;
  text-align: left;
  font-size: 13.35px;
}

.gio116 {
  position: absolute;
  top: 83.5%;
  left: 10%;
  text-align: left;
  font-size: 13.35px;
}

.gio117 {
  position: absolute;
  top: 84.34%;
  left: 44.8%;
  text-align: left;
  font-size: 11.5px;
  font-weight: bolder;
  color: rgb(3, 3, 112);

}

.gio118 {
  position: absolute;
  top: 84.6%;
  left: 8.3%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio119 {
  position: absolute;
  top: 84.9%;
  left: 8.3%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio120 {
  position: absolute;
  top: 85.27%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio121 {
  position: absolute;
  top: 85.6%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio122 {
  position: absolute;
  top: 85.92%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio123 {
  position: absolute;
  top: 86.24%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio124 {
  position: absolute;
  top: 86.57%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio125 {
  position: absolute;
  top: 86.89%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio126 {
  position: absolute;
  top: 87.2%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio127 {
  position: absolute;
  top: 87.52%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio128 {
  position: absolute;
  top: 87.855%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio129 {
  position: absolute;
  top: 88.17%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio130 {
  position: absolute;
  top: 88.49%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio131 {
  position: absolute;
  top: 88.82%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio132 {
  position: absolute;
  top: 89.13%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio133 {
  position: absolute;
  top: 89.46%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio134 {
  position: absolute;
  top: 89.78%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio135 {
  position: absolute;
  top: 90.1%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio136 {
  position: absolute;
  top: 90.42%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio137 {
  position: absolute;
  top: 90.75%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio138 {
  position: absolute;
  top: 91.06%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio139 {
  position: absolute;
  top: 91.67%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio140 {
  position: absolute;
  top: 92.27%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio141 {
  position: absolute;
  top: 92.59%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio142 {
  position: absolute;
  top: 92.92%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio143 {
  position: absolute;
  top: 93.23%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio144 {
  position: absolute;
  top: 93.83%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio145 {
  position: absolute;
  top: 94.425%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio146 {
  position: absolute;
  top: 94.74%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio147 {
  position: absolute;
  top: 95.06%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio148 {
  position: absolute;
  top: 95.38%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
}

.gio149 {
  position: absolute;
  top: 95.71%;
  left: 9.7%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio150 {
  position: absolute;
  top: 85.27%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio151 {
  position: absolute;
  top: 85.6%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio152 {
  position: absolute;
  top: 85.92%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio153 {
  position: absolute;
  top: 86.24%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio154 {
  position: absolute;
  top: 86.57%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio155 {
  position: absolute;
  top: 86.89%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio156 {
  position: absolute;
  top: 87.2%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio157 {
  position: absolute;
  top: 87.52%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio158 {
  position: absolute;
  top: 87.855%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio159 {
  position: absolute;
  top: 88.17%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio160 {
  position: absolute;
  top: 88.49%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio161 {
  position: absolute;
  top: 88.82%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio162 {
  position: absolute;
  top: 89.13%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio163 {
  position: absolute;
  top: 89.78%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio164 {
  position: absolute;
  top: 90.1%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio165 {
  position: absolute;
  top: 90.42%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio166 {
  position: absolute;
  top: 90.75%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio167 {
  position: absolute;
  top: 91.06%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio168 {
  position: absolute;
  top: 91.67%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio169 {
  position: absolute;
  top: 92.27%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio170 {
  position: absolute;
  top: 92.59%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio171 {
  position: absolute;
  top: 92.92%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio172 {
  position: absolute;
  top: 93.23%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio172 {
  position: absolute;
  top: 93.83%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio173 {
  position: absolute;
  top: 94.425%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio174 {
  position: absolute;
  top: 94.74%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio175 {
  position: absolute;
  top: 95.06%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio176 {
  position: absolute;
  top: 95.38%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
}

.gio177 {
  position: absolute;
  top: 95.71%;
  right: 9.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio178 {
  position: absolute;
  top: 96.26%;
  left: 7.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}

.gio179 {
  position: absolute;
  top: 96.62%;
  left: 7.4%;
  text-align: left;
  font-size: 13.35px;
  font-weight: bolder;
}
