.pdf-invoice {
  width: 700px;
  height: 1000px;
  background: white;
  position: relative;
  margin: auto;
}

.i3 {
  position: absolute;
  height: fit-content;
  width: 100%;
  left: 0;
}

.namei {
  position: absolute;
  font-size: 10.7px;
  top: 30%;
  left: 3.5%;
}

.maili {
  position: absolute;
  font-size: 10.7px;
  top: 31.7%;
  left: 3.5%;
}

.phonei {
  position: absolute;
  font-size: 10.7px;
  top: 33.4%;
  left: 3.5%;
}

.addi {
  position: absolute;
  font-size: 10.7px;
  top: 35.1%;
  left: 3.5%;
}

.eadd1-p {
  position: absolute;
  font-size: 10.7px;
  top: 13.5%;
  left: 3.5%;
  /* font-weight: 600; */
  text-transform: uppercase;
}

.eadd1 {
  position: absolute;
  font-size: 10.7px;
  top: 15.3%;
  left: 3.5%;
}

.eadd2 {
  position: absolute;
  font-size: 10.7px;
  top: 17.1%;
  left: 3.5%;
}

.eadd3 {
  position: absolute;
  font-size: 10.7px;
  top: 18.9%;
  left: 3.5%;
}

.eadd4 {
  position: absolute;
  font-size: 10.7px;
  top: 20.7%;
  left: 3.5%;
}

.eadd5 {
  position: absolute;
  font-size: 10.7px;
  top: 22.5%;
  left: 3.5%;
}

.datei {
  position: absolute;
  font-size: 10.7px;
  top: 17.8%;
  right: 28.2%;
}

.datej {
  position: absolute;
  font-size: 10.7px;
  top: 17.8%;
  right: 14.2%;
}

.ini {
  position: absolute;
  font-size: 10.7px;
  top: 19.5%;
  right: 28.2%;
}

.inj {
  position: absolute;
  font-size: 10.7px;
  top: 19.5%;
  left: 73.7%;
}

.servicei {
  position: absolute;
  font-size: 10.7px;
  top: 21.1%;
  right: 28.2%;
}

.servicej {
  position: absolute;
  font-size: 10.7px;
  top: 21.1%;
  left: 73.7%;
}

.due {
  position: absolute;
  font-size: 10.7px;
  top: 22.8%;
  right: 28.2%;
  font-weight: 800;
}

.duej {
  position: absolute;
  font-size: 10.7px;
  top: 22.7%;
  right: 14.2%;
}

.bill {
  position: absolute;
  font-size: 10.7px;
  top: 27.9%;
  left: 3.34%;
  color: white;
  font-weight: bolder;
}

.lie {
  border: 0.5px solid rgb(81, 117, 163);
  position: absolute;
  top: 28.8%;
  left: 3.2%;
  height: 13px;
}

.ii {
  position: absolute;
  right: 3%;
  top: 14.5%;
  font-size: 10.7px;
  font-weight: bolder;
  color: rgb(54, 79, 155);
}

.des {
  position: absolute;
  top: 39.6%;
  font-size: 10.7px;
  font-weight: bolder;
  color: rgb(249, 248, 248);
  left: 23%;
}

.lie2 {
  border: 0.5px solid rgb(81, 117, 163);
  position: absolute;
  top: 40.6%;
  left: 3.2%;
  height: 13px;
}

.houri {
  position: absolute;
  top: 39.7%;
  font-size: 10.1px;
  font-weight: bold;
  color: rgb(249, 248, 248);
  left: 55.2%;
}

.ratei {
  position: absolute;
  top: 39.7%;
  font-size: 10.1px;
  font-weight: bold;
  color: rgb(249, 248, 248);
  left: 65.2%;
}

.amti {
  position: absolute;
  top: 39.7%;
  font-size: 10.1px;
  font-weight: bold;
  color: rgb(249, 248, 248);
  left: 82.2%;
}

.learn {
  position: absolute;
  font-size: 10.7px;
  top: 41.7%;
  left: 3.5%;
}

.hoursj {
  position: absolute;
  font-size: 10.7px;
  top: 41.7%;
  left: 57%;
}

.middev {
  position: absolute;
  top: 42.7%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.middev1 {
  position: absolute;
  top: 42.7%;
  left: 62%;
  height: 15px;
  width: 70px;
  font-size: 10.7px;
  text-align: center;
}

.bold1 {
  position: absolute;
  font-size: 10.7px;
  top: 57.45%;
  left: 3.5%;
  font-weight: bolder;
}

.bold2 {
  position: absolute;
  font-size: 10.7px;
  top: 57.45%;
  left: 3.5%;
}

.bold3 {
  position: absolute;
  top: 58.5%;
  left: 62%;
  height: 15px;
  width: 70px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}


.bold5 {
  position: absolute;
  top: 58.5%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.bold6 {
  position: absolute;
  top: 58.5%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.bold10 {
  position: absolute;
  top: 60.2%;
  left: 62%;
  height: 15px;
  width: 70px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.bold4 {
  position: absolute;
  top: 58.5%;
  left: 62%;
  height: 15px;
  width: 70px;
  font-size: 10.7px;
  text-align: center;
}

.bold12 {
  position: absolute;
  top: 60.2%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.bold7 {
  position: absolute;
  font-size: 10.7px;
  top: 59.1%;
  left: 3.5%;
}

.bold8 {
  position: absolute;
  font-size: 10.7px;
  top: 59.1%;
  left: 3.5%;
  font-weight: bolder;
}

.bold9 {
  position: absolute;
  top: 60.2%;
  left: 62%;
  height: 15px;
  width: 70px;
  font-size: 10.7px;
  text-align: center;
}



.bold11 {
  position: absolute;
  top: 60.2%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}



.sti {
  position: absolute;
  font-size: 10.7px;
  top: 60.9%;
  right: 28.2%;
  font-weight: bolder;
}

.tri {
  position: absolute;
  font-size: 10.7px;
  top: 62.5%;
  right: 28.2%;
}

.taxi {
  position: absolute;
  font-size: 10.7px;
  top: 64.25%;
  right: 28.2%;
}

.ifi {
  position: absolute;
  font-size: 10.7px;
  top: 66%;
  right: 28.2%;
}

.sfi {
  position: absolute;
  font-size: 10.7px;
  top: 67.7%;
  right: 28.2%;
}

.sta {
  position: absolute;
  top: 61.8%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.tria {
  position: absolute;
  top: 63.5%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.taxia {
  position: absolute;
  top: 65.2%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.ifia {
  position: absolute;
  top: 67.05%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.sfia {
  position: absolute;
  top: 68.7%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  text-align: center;
}

.toti {
  position: absolute;
  top: 70.7%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.totii {
  position: absolute;
  font-size: 10.7px;
  top: 69.7%;
  right: 33%;
  font-weight: bolder;
}

.toti-p {
  position: absolute;
  top: 68.85%;
  left: 73.7%;
  height: 15px;
  width: 160px;
  font-size: 10.7px;
  font-weight: bolder;
  text-align: center;
}

.totii-p {
  position: absolute;
  font-size: 10.7px;
  top: 68%;
  right: 28%;
  font-weight: bolder;
}

.oc {
  position: absolute;
  font-size: 10.7px;
  top: 62.45%;
  left: 20.5%;
}

.oc1 {
  position: absolute;
  font-size: 10.7px;
  top: 64%;
  left: 3.5%;
}

.oc2 {
  position: absolute;
  font-size: 10.7px;
  top: 65.7%;
  left: 3.5%;
}

.oc3 {
  position: absolute;
  font-size: 10.7px;
  top: 67.4%;
  left: 5.2%;
}

.mac {
  position: absolute;
  font-size: 10.7px;
  top: 72.4%;
  left: 70.5%;
}

.mac-p {
  position: absolute;
  font-size: 10.7px;
  top: 72.4%;
  left: 63%;
}

.mac1 {
  position: absolute;
  font-size: 10.7px;
  top: 74%;
  left: 74.5%;
  font-weight: bolder;
}

.mac1-p1 {
  position: absolute;
  font-size: 10.7px;
  top: 75.5%;
  left: 74.5%;
  font-weight: bolder;
}

.mac1-p2 {
  position: absolute;
  font-size: 10.7px;
  top: 77%;
  left: 77.5%;
  font-weight: bolder;
}

.tyf {
  position: absolute;
  font-size: 10.7px;
  top: 81%;
  left: 39.5%;
  font-weight: bolder;
  font-family: sans-serif;
  font-style: italic;
}

.last1 {
  position: absolute;
  font-size: 10.7px;
  top: 88%;
  left: 5%;
}

.last2 {
  position: absolute;
  font-size: 10.7px;
  top: 90%;
  left: 5%;
}

.last3 {
  position: absolute;
  font-size: 10.7px;
  top: 92%;
  left: 5%;
}

.last4 {
  position: absolute;
  font-size: 10.7px;
  top: 93.9%;
  left: 5%;
}

.last5 {
  position: absolute;
  font-size: 10.7px;
  top: 96%;
  left: 5%;
}

.empty2 {
  position: absolute;
  height: 75px;
  width: 260px;
  background-color: white;
  top: 64.6%;
  right: 2%;
  z-index: 10;
}

.empty3 {
  position: absolute;
  height: 1px;
  width: 255px;
  background-color: black;
  top: 63.2%;
  right: 2.25%;
  z-index: 10;
}

.empty4 {
  position: absolute;
  height: 1px;
  width: 255px;
  background-color: black;
  top: 63.33%;
  right: 2.25%;
  z-index: 10;
}

.mac3 {
  position: absolute;
  font-size: 10.7px;
  top: 66.4%;
  left: 70.5%;
  z-index: 100;
}

.mac4 {
  position: absolute;
  font-size: 10.7px;
  top: 68%;
  left: 74.5%;
  font-weight: bolder;
  z-index: 100;
}

.triam {
  position: absolute;
  top: 61.66%;
  left: 72.7%;
  height: 17px;
  width: 176px;
  font-size: 10.7px;
  text-align: center;
  background-color: #395B9A;
  z-index: 200;
  color: white;
  font-weight: 700;
  align-items: center;
  padding-top: 4px;
}

.trim {
  position: absolute;
  font-size: 10.7px;
  top: 61.2%;
  right: 28.2%;
  z-index: 200;
  font-weight: 700;
}

.uploaded-image {
  width: 550px;
  margin-top: 10px;
  position: absolute;
  font-size: 10.7px;
  top: 125%;
  left :10%
}


.transaction-id {
  position: absolute;
  font-size: 16px;
  top: 117%;
  left :5%;
  width: 630px;
  align-items: center;
  justify-content: center;
}

.transaction-id p{
  text-align: center;
}