.usk1 {
  position: absolute;
  top: 2.1%;
  left: 35.5%;
  font-weight: bold;
}

.cm {
  position: absolute;
  width: 620px;
  text-align: left;
  font-size: 14.9px;
  line-height: 20px;
  text-align: justify;
}

.usk2 {
  top: 3%;
  left: 11.5%;
}

.usk3 {
  top: 6.1%;
  left: 11.5%;
  font-weight: 700;
}

.usk4 {
  top: 6.9%;
  left: 11.5%;
  font-weight: 700;
}

.usk5 {
  top: 7.4%;
  left: 11.5%;
}

.usk6 {
  top: 9%;
  left: 11.5%;
  font-weight: 700;
}

.usk7 {
  top: 9.5%;
  left: 11.5%;
}

.usk8 {
  top: 10.8%;
  left: 11.5%;
  font-weight: 700;
}

.usk9 {
  top: 11.3%;
  left: 11.5%;
}

.usk10 {
  top: 13.3%;
  left: 11.5%;
  font-weight: 700;
}

.usk11 {
  top: 13.8%;
  left: 11.5%;
}

.usk12 {
  top: 15.4%;
  left: 11.5%;
  font-weight: 700;
}

.usk13 {
  top: 16.3%;
  left: 11.5%;
  font-weight: 700;
}

.usk14 {
  top: 16.8%;
  left: 11.5%;
}

.usk15 {
  top: 22.3%;
  left: 11.5%;
  font-weight: 700;
}

.usk16 {
  top: 22.8%;
  left: 11.5%;
}

.usk17 {
  top: 24.4%;
  left: 11.5%;
  font-weight: 700;
}

.usk18 {
  top: 24.9%;
  left: 11.5%;
}

.usk19 {
  top: 26.6%;
  left: 11.5%;
  font-weight: 700;
}

.usk20 {
  top: 27.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk21 {
  top: 28%;
  left: 11.5%;
}

.usk22 {
  top: 29.3%;
  left: 11.5%;
  font-weight: 700;
}

.usk23 {
  top: 29.8%;
  left: 11.5%;
}

.usk24 {
  top: 31.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk25 {
  top: 32%;
  left: 11.5%;
}

.usk26 {
  top: 33.7%;
  left: 11.5%;
  font-weight: 700;
}

.usk27 {
  top: 34.6%;
  left: 11.5%;
  font-weight: 700;
}

.usk28 {
  top: 35.1%;
  left: 11.5%;
}

.usk29 {
  top: 42.4%;
  left: 11.5%;
  font-weight: 700;
}

.usk30 {
  top: 42.9%;
  left: 11.5%;
}

.usk31 {
  top: 44.3%;
  left: 11.5%;
  font-weight: 700;
}

.usk32 {
  top: 44.8%;
  left: 11.5%;
}

.usk33 {
  top: 46.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk34 {
  top: 47.4%;
  left: 11.5%;
  font-weight: 700;
}

.usk35 {
  top: 47.9%;
  left: 11.5%;
}

.usk36 {
  top: 49.53%;
  left: 11.5%;
  font-weight: 700;
}

.usk37 {
  top: 50%;
  left: 11.5%;
}

.usk38 {
  top: 51.8%;
  left: 11.5%;
  font-weight: 700;
}

.usk39 {
  top: 52.73%;
  left: 11.5%;
  font-weight: 700;
}

.usk40 {
  top: 53.2%;
  left: 11.5%;
}

.usk41 {
  top: 54.9%;
  left: 11.5%;
  font-weight: 700;
}

.usk42 {
  top: 55.4%;
  left: 11.5%;
}

.usk43 {
  top: 62.4%;
  left: 11.5%;
  font-weight: 700;
}

.usk44 {
  top: 63.35%;
  left: 11.5%;
  font-weight: 700;
}

.usk45 {
  top: 63.85%;
  left: 11.5%;
}

.usk46 {
  top: 65.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk46a{
  top: 67.35%;
  left: 11.5%;
  font-weight: 700;
}

.usk47 {
  top: 66%;
  left: 11.5%;
}

.usk47a {
   top: 67.85%;
  left: 11.5%;
}

.usk48 {
  top: 69.6%;
  left: 11.5%;
  font-weight: 700;
}

.usk49 {
  top: 70.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk50 {
  top: 71%;
  left: 11.5%;
}

.usk49a {
  top: 72.65%;
  left: 11.5%;
  font-weight: 700;
}

.usk50a {
  top: 73.13%;
  left: 11.5%;
}

.usk51 {
  top: 74.8%;
  left: 11.5%;
   font-weight: 700;
}

.usk52 {
  top: 75.7%;
  left: 11.5%;
  font-weight: 700;
}

.usk53 {
  top: 76.2%;
  left: 11.5%;
}

.usk54 {
  top: 82.25%;
  left: 11.5%;
  font-weight: 700;
}

.usk55 {
  top: 82.75%;
  left: 11.5%;
}

.usk54a {
  top: 84%;
  left: 11.5%;
  font-weight: 700;
}

.usk55a {
  top: 84.5%;
  left: 11.5%;
}

.usk57 {
  top: 90%;
  left: 11.5%;
  font-weight: 700;
}

.usk57a {
  top: 87%;
  left: 11.5%;
  font-weight: 700;
}

.usk58 {
  top: 90.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk59 {
  top: 91%;
  left: 11.5%;
  font-weight: 700;
}

.usk60 {
  top: 91.5%;
  left: 11.5%;
  font-weight: 700;
}

.usk61 {
  top: 93%;
  left: 11.5%;
  font-weight: 700;
  text-decoration: underline;
}

.usk62 {
  top: 93.63%;
  left: 11.5%;
}

.usk63 {
  top: 94.7%;
  left: 11.5%;
  font-weight: 700;
}

.usk64 {
  top: 95.4%;
  left: 11.5%;
  font-weight: 700;
}