.geshur0 {
  position: absolute;
  top: 6.2%;
  left: 49%;
  font-size: 12.5px;
  font-weight: bolder;
}

.geshur1 {
  position: absolute;
  font-weight: bolder;
  top: 8%;
  font-size: 10px;
  left: 38%;
  width: 200px;
  text-align: center;
}

.geshur2 {
  position: absolute;
  font-weight: bolder;
  top: 8.8%;
  font-size: 13px;
  left: 38%;
  width: 200px;
  text-align: center;
}

.geshur3 {
  position: absolute;
  top: 10.84%;
  left: 9.62%;
  font-size: 9.5px;
  letter-spacing: -0.2px;
}

.geshur4 {
  position: absolute;
  top: 10.75%;
  left: 22%;
  font-size: 10px;
}

.geshur5 {
  position: absolute;
  top: 18.8%;
  left: 9.72%;
  font-size: 10px;
}

.geshur6 {
  position: absolute;
  top: 18.8%;
  left: 22%;
  font-size: 10px;
  
}

.geshur7 {
  position: absolute;
  top: 12.32%;
  left: 9.72%;
  font-size: 10px;
}

.geshur8 {
  position: absolute;
  top: 12.32%;
  left: 22%;
  font-size: 10px;

}

.geshur9 {
  position: absolute;
  top: 13.9%;
  left: 9.72%;
  font-size: 10px;
}

.geshur10 {
  position: absolute;
  top: 13.9%;
  left: 22%;
  font-size: 10px;
}

.geshur11 {
  position: absolute;
  top: 15.54%;
  left: 9.72%;
  font-size: 10px;
}

.geshur12 {
  position: absolute;
  top: 15.54%;
  left: 22%;
  font-size: 10px;
}

.geshur13 {
  position: absolute;
  top: 17.18%;
  left: 9.72%;
  font-size: 10px;
}

.geshur14 {
  position: absolute;
  top: 17.18%;
  left: 22%;
  font-size: 10px;
  
}

.geshur15 {
  position: absolute;
  top: 17.18%;
  left: 42.5%;
  font-size: 10px;
 
}

.geshur16 {
  position: absolute;
  top: 17.18%;
  left: 68.1%;
  font-size: 10px;
 
}

.geshur17 {
  position: absolute;
  top: 20.5%;
  left: 9.72%;
  font-size: 10px;
}

.geshur18 {
  position: absolute;
  top: 20.5%;
  left: 22.2%;
  font-size: 10px;
}

.geshur19 {
  position: absolute;
  top: 22.2%;
  left: 9.72%;
  font-size: 10px;
}

.geshur20 {
  position: absolute;
  top: 22.2%;
  left: 22.2%;
  font-size: 10px;

}

.geshur21 {
  position: absolute;
  top: 25.3%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur22 {
  position: absolute;
  top: 25.3%;
  left: 45%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur23 {
  position: absolute;
  top: 26.85%;
  left: 9.72%;
  font-size: 10px;
}

.geshur24 {
  position: absolute;
  top: 26.85%;
  left: 46.2%;
  font-size: 10px;
}

.geshur25 {
  position: absolute;
  top: 28.25%;
  left: 9.72%;
  font-size: 10px;
}

.geshur26 {
  position: absolute;
  top: 28.25%;
  left: 46.5%;
  font-size: 10px;
}

.geshur27 {
  position: absolute;
  top: 29.6%;
  left: 9.72%;
  font-size: 10px;
}

.geshur28 {
  position: absolute;
  top: 29.6%;
  left: 46.2%;
  font-size: 10px;
}

.geshur29 {
  position: absolute;
  top: 32.76%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur30 {
  position: absolute;
  top: 34.4%;
  left: 9.72%;
  font-size: 10px;
}

.geshur31 {
  position: absolute;
  top: 35.9%;
  left: 9.72%;
  font-size: 10px;
}

.geshur32 {
  position: absolute;
  top: 37.45%;
  left: 9.72%;
  font-size: 10px;
}

.geshur33 {
  position: absolute;
  top: 39.1%;
  left: 9.72%;
  font-size: 10px;
}

.geshur34 {
  position: absolute;
  top: 40.6%;
  left: 9.72%;
  font-size: 10px;
}

.geshur35 {
  position: absolute;
  top: 42.2%;
  left: 9.72%;
  font-size: 10px;
}

.geshur36 {
  position: absolute;
  top: 43.7%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur37 {
  position: absolute;
  top: 32.76%;
  left: 44.2%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur38 {
  position: absolute;
  top: 34.4%;
  right: 48.5%;
  font-size: 10px;
}

.geshur39 {
  position: absolute;
  top: 35.9%;
  right: 48.5%;
  font-size: 10px;
}

.geshur40 {
  position: absolute;
  top: 37.45%;
  right: 48.5%;
  font-size: 10px;
}

.geshur41 {
  position: absolute;
  top: 39.1%;
  right: 48.5%;
  font-size: 10px;
}

.geshur42 {
  position: absolute;
  top: 40.6%;
  right: 48.5%;
  font-size: 10px;
}

.geshur43 {
  position: absolute;
  top: 42.2%;
  right: 48.5%;
  font-size: 10px;
}

.geshur44 {
  position: absolute;
  top: 43.7%;
  right: 48.5%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur45 {
  position: absolute;
  top: 32.76%;
  left: 52.5%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur46 {
  position: absolute;
  top: 32.76%;
  left: 85.3%;
  font-size: 10px;
  font-weight: bolder;
}

.geshur47 {
  position: absolute;
  top: 34.4%;
  left: 52.5%;
  font-size: 10px;
}

.geshur48 {
  position: absolute;
  top: 34.4%;
  font-size: 10px;
  right: 7.7%;
}

.geshur49 {
  position: absolute;
  top: 43.7%;
  font-size: 10px;
  left: 52.5%;
}

.geshur50 {
  position: absolute;
  top: 43.7%;
  font-size: 10px;
  right: 7.7%;
   font-weight: bolder;
}

.geshur51 {
  position: absolute;
  top: 45.45%;
  font-size: 10px;
  left: 52.5%;
  font-weight: bolder;
}

.geshur52 {
  position: absolute;
  top: 45.45%;
  font-size: 10px;
  right: 7.7%;
  font-weight: bolder;
}

.geshur53 {
  position: absolute;
  top: 47.4%;
  left: 9.72%;
  font-size: 10px;
}

.geshur54 {
  position: absolute;
  top: 49%;
  left: 9.72%;
  font-size: 10px;
}

.geshur55 {
  position: absolute;
  top: 33.5%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur56 {
  position: absolute;
  top: 35%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur57 {
  position: absolute;
  top: 19.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur58 {
  position: absolute;
  top: 36.6%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur59 {
  position: absolute;
  top: 38.2%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur60 {
  position: absolute;
  top: 39.8%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur61 {
  position: absolute;
  top: 41.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur62 {
  position: absolute;
  top: 42.85%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur63 {
  position: absolute;
  top: 44.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur64 {
  position: absolute;
  top: 46.1%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur65 {
  position: absolute;
  top: 47.8%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.geshur66 {
  position: absolute;
  top: 33.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 9.1%;
}

.geshur67 {
  position: absolute;
  top: 33.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 41.8%;
}

.geshur68 {
  position: absolute;
  top: 33.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 51.8%;
}

.geshur69 {
  position: absolute;
  top: 33.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 83%;
}

.geshur70 {
  position: absolute;
  top: 33.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 92.5%;
}
