.sports0 {
  position: absolute;
  top: 9.2%;
  left: 49%;
  font-size: 12.5px;
  font-weight: bolder;
}

.sports1 {
  position: absolute;
  font-weight: bolder;
  top: 11%;
  font-size: 10px;
  left: 38%;
  width: 200px;
  text-align: center;
}

.sports2 {
  position: absolute;
  font-weight: bolder;
  top: 11.8%;
  font-size: 13px;
  left: 38%;
  width: 200px;
  text-align: center;
}

.sports3 {
  position: absolute;
  top: 13.85%;
  left: 9.62%;
  font-size: 9.5px;
  letter-spacing: -0.2px;
    font-weight: bolder;
}

.sports4 {
  position: absolute;
  top: 13.75%;
  left: 22%;
  font-size: 10px;
}

.sports5 {
  position: absolute;
  top: 21.8%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports6 {
  position: absolute;
  top: 21.8%;
  left: 22%;
  font-size: 10px;
}

.sports7 {
  position: absolute;
  top: 15.32%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports8 {
  position: absolute;
  top: 15.32%;
  left: 22%;
  font-size: 10px;

}

.sports9 {
  position: absolute;
  top: 16.9%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports10 {
  position: absolute;
  top: 16.9%;
  left: 22%;
  font-size: 10px;
  
}

.sports11 {
  position: absolute;
  top: 18.54%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports12 {
  position: absolute;
  top: 18.54%;
  left: 22%;
  font-size: 10px;
}

.sports13 {
  position: absolute;
  top: 20.18%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports14 {
  position: absolute;
  top: 20.18%;
  left: 22%;
  font-size: 10px;
}

.sports15 {
  position: absolute;
  top: 20.18%;
  left: 42.5%;
  font-size: 10px;
}

.sports16 {
  position: absolute;
  top: 20.18%;
  left: 68.1%;
  font-size: 10px;
}

.sports17 {
  position: absolute;
  top: 23.5%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports18 {
  position: absolute;
  top: 23.5%;
  left: 22.2%;
  font-size: 10px;
}

.sports19 {
  position: absolute;
  top: 25.2%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports20 {
  position: absolute;
  top: 25.2%;
  left: 22.2%;
  font-size: 10px;
}

.sports21 {
  position: absolute;
  top: 28.3%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports22 {
  position: absolute;
  top: 28.3%;
  left: 45%;
  font-size: 10px;
  font-weight: bolder;
}

.sports23 {
  position: absolute;
  top: 29.85%;
  left: 9.72%;
  font-size: 10px;
}

.sports24 {
  position: absolute;
  top: 29.85%;
  left: 46.2%;
  font-size: 10px;
}

.sports25 {
  position: absolute;
  top: 31.25%;
  left: 9.72%;
  font-size: 10px;
}

.sports26 {
  position: absolute;
  top: 31.25%;
  left: 46.5%;
  font-size: 10px;
}

.sports27 {
  position: absolute;
  top: 32.6%;
  left: 9.72%;
  font-size: 10px;
}

.sports28 {
  position: absolute;
  top: 32.6%;
  left: 46.2%;
  font-size: 10px;
}

.sports29 {
  position: absolute;
  top: 35.76%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports30 {
  position: absolute;
  top: 37.4%;
  left: 9.72%;
  font-size: 10px;
}

.sports31 {
  position: absolute;
  top: 38.9%;
  left: 9.72%;
  font-size: 10px;
}

.sports32 {
  position: absolute;
  top: 40.45%;
  left: 9.72%;
  font-size: 10px;
}

.sports33 {
  position: absolute;
  top: 42.1%;
  left: 9.72%;
  font-size: 10px;
}

.sports34 {
  position: absolute;
  top: 43.6%;
  left: 9.72%;
  font-size: 10px;
}

.sports35 {
  position: absolute;
  top: 45.2%;
  left: 9.72%;
  font-size: 10px;
}

.sports36 {
  position: absolute;
  top: 46.7%;
  left: 9.72%;
  font-size: 10px;
  font-weight: bolder;
}

.sports37 {
  position: absolute;
  top: 35.76%;
  left: 44.2%;
  font-size: 10px;
  font-weight: bolder;
}

.sports38 {
  position: absolute;
  top: 37.4%;
  right: 48.5%;
  font-size: 10px;
}

.sports39 {
  position: absolute;
  top: 38.9%;
  right: 48.5%;
  font-size: 10px;
}

.sports40 {
  position: absolute;
  top: 40.45%;
  right: 48.5%;
  font-size: 10px;
}

.sports41 {
  position: absolute;
  top: 42.1%;
  right: 48.5%;
  font-size: 10px;
}

.sports42 {
  position: absolute;
  top: 43.6%;
  right: 48.5%;
  font-size: 10px;
}

.sports43 {
  position: absolute;
  top: 45.2%;
  right: 48.5%;
  font-size: 10px;
}

.sports44 {
  position: absolute;
  top: 46.7%;
  right: 48.5%;
  font-size: 10px;
  font-weight: bolder;
}

.sports45 {
  position: absolute;
  top: 35.76%;
  left: 52.5%;
  font-size: 10px;
  font-weight: bolder;
}

.sports46 {
  position: absolute;
  top: 35.76%;
  left: 85.3%;
  font-size: 10px;
  font-weight: bolder;
}

.sports47 {
  position: absolute;
  top: 37.4%;
  left: 52.5%;
  font-size: 10px;
}

.sports48 {
  position: absolute;
  top: 37.4%;
  font-size: 10px;
  right: 7.7%;
}

.sports49 {
  position: absolute;
  top: 46.7%;
  font-size: 10px;
  left: 52.5%;
  font-weight: bolder;
}

.sports50 {
  position: absolute;
  top: 46.7%;
  font-size: 10px;
  right: 7.7%;
 font-weight: bolder;
}

.sports51 {
  position: absolute;
  top: 48.45%;
  font-size: 10px;
  left: 52.5%;
  font-weight: bolder;
}

.sports52 {
  position: absolute;
  top: 48.45%;
  font-size: 10px;
  right: 7.7%;
  font-weight: bolder;
}

.sports53 {
  position: absolute;
  top: 50.4%;
  left: 9.72%;
  font-size: 10px;
}

.sports54 {
  position: absolute;
  top: 52%;
  left: 9.72%;
  font-size: 10px;
}

.sports55 {
  position: absolute;
  top: 36.5%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports56 {
  position: absolute;
  top: 38%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports57 {
  position: absolute;
  top: 22.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports58 {
  position: absolute;
  top: 39.6%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports59 {
  position: absolute;
  top: 41.2%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports60 {
  position: absolute;
  top: 42.8%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports61 {
  position: absolute;
  top: 44.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports62 {
  position: absolute;
  top: 45.85%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports63 {
  position: absolute;
  top: 47.4%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports64 {
  position: absolute;
  top: 49.1%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports65 {
  position: absolute;
  top: 50.8%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports66 {
  position: absolute;
  top: 36.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 9.1%;
}

.sports67 {
  position: absolute;
  top: 36.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 41.8%;
}

.sports68 {
  position: absolute;
  top: 36.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 51.8%;
}

.sports69 {
  position: absolute;
  top: 36.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 83%;
}

.sports70 {
  position: absolute;
  top: 36.5%;
  height: 144.5px;
  background-color: black;
  width: 1.3px;
  left: 92.5%;
}

.sports71 {
  position: absolute;
  top: 14.5%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports72 {
  position: absolute;
  top: 16.05%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports73 {
  position: absolute;
  top: 17.55%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports74 {
  position: absolute;
  top: 19.15%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports75 {
  position: absolute;
  top: 20.9%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports76 {
  position: absolute;
  top: 24.1%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports77 {
  position: absolute;
  top: 25.8%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports78 {
  position: absolute;
  top: 27.5%;
  height: 1.3px;
  background-color: black;
  width: 584px;
  left: 9.1%;
}

.sports79 {
  position: absolute;
  top: 14.5%;
  height: 130.75px;
  background-color: black;
  width: 1.3px;
  left: 9.1%;
}

.sports80 {
  position: absolute;
  top: 14.5%;
  height: 130.75px;
  background-color: black;
  width: 1.3px;
  left: 21.5%;
}

.sports81 {
  position: absolute;
  top: 21%;
  height: 13.75px;
  background-color: black;
  width: 1.3px;
  left: 41.5%;
}

.sports82 {
  position: absolute;
  top: 21%;
  height: 13.75px;
  background-color: black;
  width: 1.3px;
  left: 67%;
}

.sports83 {
  position: absolute;
  top: 14.5%;
  height: 130.75px;
  background-color: black;
  width: 1.3px;
  left: 92.5%;
}

.sports84 {
  position: absolute;
  top: 28.95%;
  height: 1.3px;
  background-color: black;
  width: 300px;
  left: 9.1%;
}

.sports85 {
  position: absolute;
  top: 30.55%;
  height: 1.3px;
  background-color: black;
  width: 300px;
  left: 9.1%;
}

.sports86 {
  position: absolute;
  top: 32.1%;
  height: 1.3px;
  background-color: black;
  width: 300px;
  left: 9.1%;
}

.sports87 {
  position: absolute;
  top: 33.5%;
  height: 1.3px;
  background-color: black;
  width: 300px;
  left: 9.1%;
}

.sports88 {
  position: absolute;
  top: 34.86%;
  height: 1.3px;
  background-color: black;
  width: 300px;
  left: 9.1%;
}

.sports89 {
  position: absolute;
  top: 28.95%;
  height: 60px;
  background-color: black;
  width: 1.3px;
  left: 9.1%;
}

.sports90 {
  position: absolute;
  top: 28.95%;
  height: 60px;
  background-color: black;
  width: 1.3px;
  left: 41.8%;
}

.sports91 {
  position: absolute;
  top: 28.95%;
  height: 60px;
  background-color: black;
  width: 1.3px;
  left: 51.8%;
}
