.expge1c {
  position: absolute;
  top: 21%;
  left: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.wwfx {
  position: absolute;
  top: 24.5%;
  left: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.expge2c {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.expge3c {
  position: absolute;
  top: 27%;
  left: 33%;
  font-size: 14px;
  width: 620px;
  text-align: justify;
  text-justify: inter-word;
}

.expge4c {
  position: absolute;
  top: 28.6%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge5c {
  position: absolute;
  top: 28.5%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge6c {
  position: absolute;
  top: 34.2%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge7c {
  position: absolute;
  top: 43%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge8c {
  position: absolute;
  top: 46.5%;
  left: 10%;
  font-size: 14px;
  width: 638px;
  text-align: justify;
  text-justify: inter-word;
}

.expge9c {
  position: absolute;
  top: 40%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge10c {
  position: absolute;
  top: 55%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge11c {
  position: absolute;
  top: 57.5%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge12c {
  position: absolute;
  top: 60%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

.expge13c {
  position: absolute;
  top: 62.5%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}
